<div class="deployments-container">
  <!-- Main Content -->
  <div class="main-content">
    <div class="content-header">
      <h2>Deployments</h2>
      <button class="btn btn-primary" [routerLink]="['/deploy-form']">
        <i class="bi bi-plus-circle me-2"></i>
        Create Deployment
      </button>
    </div>

    <!-- Deployments Table -->
    <div class="table-container">
      <table class="deployments-table">
        <thead>
          <tr>
            <th>App</th>
            <th>Version</th>
            <th>Deployed At</th>
            <th>Git Tag</th>
            <th>Docker Tag</th>
            <th>Change Log</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(element of datasource; track element){
             <!-- dtt_deploy: string
          milestone: string
           app: string
            version: string
             git_tag: string
          docker_tag: string 
          change_log: string -->
          <tr>
            <td class="app-name">{{ element.app }}</td>
            <td class="version"> {{ element.version }} </td>
            <td class="deployed-at">{{ formatDateAndTime(element.dtt_deploy)  }}</td>
            <td class="git-tag">{{ element.git_tag }}</td>
            <td class="docker-tag">{{ element.docker_tag }}</td>
            <td class="change-log">
              {{element.change_log}}
            </td>
            <td class="actions">
              <button class="rollback-btn">Rollback</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
