<div class="container-fluid">

  <!-- Main Content -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">Application Versions</h2>
      <button 
        class="btn btn-primary"
        [routerLink]="['/version-form']">
        <i class="bi bi-plus-circle me-2"></i>
        Create Version
      </button>
    </div>

    <!-- Versions Table -->
    <app-version-cards [datasource]="datasource" (versionDelete)="onDelete($event)"></app-version-cards>
  </div>
</div>
