<div class="table-container">
  <table class="deployments-table">
    <thead>
      <tr>
        <th>App</th>
        <th>Version</th>
        <th>Deployed At</th>
        <th>Git Tag</th>
        <th>Docker Tag</th>
        <th>Change Log</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(element of datasource; track element){

      <tr>
        <td class="app-name">{{ element.app }}</td>
        <td class="version">{{ element.version }}</td>
        <td class="deployed-at">{{ formatDateAndTime(element.dtt_deploy) }}</td>
        <td class="git-tag">{{ element.git_tag }}</td>
        <td class="docker-tag">{{ element.docker_tag }}</td>
          <td class="change-log">
          <span>
            {{ element.change_log.length > 100 ? (element.change_log | slice:0:100) + '...' : element.change_log }}
          </span>
          <button
            *ngIf="element.change_log.length > 100"
            class="btn btn-link p-0 m-0"
            (click)="showFullChangeLog(element.change_log)"
          >
            View More
          </button>
        </td>

        <td class="actions d-flex align-items-center gap-2">
          <button
            class="btn btn-secondary"
            [routerLink]="['/edit-deploy', element.id]"
          >
            Edit
          </button>
          <button
            class="btn rollback-btn"
            (click)="onDeleteDeployment(element.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
