<div class="app-form-container">
  <div class="app-form-card shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="fw-bold mb-0">
       {{ editMode ? "Update Milestone" : "Create Milestone" }}
      </h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="onClose()"
      ></button>
    </div>

    <hr />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label for="milestone" class="form-label">Milestone</label>
        <input
          type="text"
          formControlName="milestone"
          class="form-control"
          id="milestone"
          placeholder="Enter Milestone"
          autocomplete="off"
        />
      </div>

      <div class="mb-3">
        <label for="goal" class="form-label">Goal</label>
        <textarea  formControlName="goal"
          class="form-control" rows="4"
          id="goal"
          autocomplete="off"></textarea>
      </div>

     
      <div class="mb-3">
        <label for="dt_milestone" class="form-label">Date</label>
        <input
          type="date"
          formControlName="dt_milestone"
          class="form-control"
          id="dt_milestone"
          autocomplete="off"
        />
      </div>

      <div class="mb-3">
        <label for="proj_ver" class="form-label">Version</label>
        <input
          type="text"
          formControlName="proj_ver"
          class="form-control"
          id="proj_ver"
          autocomplete="off"
        />
      </div>

      <!-- <div class="form-check mb-3">
        <input
          type="checkbox"
          class="form-check-input"
          id="completed"
          formControlName="completed"
        />
        <label class="form-check-label" for="completed">Completed</label>
      </div> -->

      <div class="d-flex justify-content-center gap-3">
        <button
          type="button"
          class="btn btn-secondary px-4"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary px-4">
          {{ editMode ? "Update" : "Save" }}
        </button>
      </div>
    </form>
  </div>
</div>
