<div class="app-form-container">
  <div class="app-form-card shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="fw-bold mb-0">{{ editMode ? "Update Log" : "Create Log" }}</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="onClose()"
      ></button>
    </div>

    <hr />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="appName" class="form-label">App Name</label>
        <select class="form-select" formControlName="app">
          @for(name of app; track name){
          <option [value]="name">
            {{ name }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" id="category" formControlName="category">
          @for(item of category ; track item){
          <option [value]="item">
            {{ item | titlecase }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label for="version" class="form-label">Version</label>
        <input
          type="text"
          formControlName="version"
          class="form-control"
          id="version"
          readonly
        />
      </div>

      <div class="mb-3">
        <label for="dtt_change" class="form-label">Date & Time</label>
        <input
          type="datetime-local"
          formControlName="dtt_change"
          class="form-control"
          id="dtt_change"
        />
      </div>

      <div class="mb-3">
        <label for="change_title" class="form-label">Title</label>
        <input
          type="text"
          formControlName="change_title"
          class="form-control"
          id="change_title"
        />
      </div>

      <div class="mb-3">
        <label for="change_desc" class="form-label">Description</label>
        <textarea
          class="form-control"
          formControlName="change_desc"
          id="change_desc"
          rows="3"
          placeholder="Enter description"
        ></textarea>
      </div>

      
      <div class="mb-3">
        <label for="dev" class="form-label">Contributors</label>
        <input
          type="text"
          formControlName="dev"
          class="form-control"
          id="dev"
        />
      </div>
      <div class="mb-3">
        <label for="image_url" class="form-label">Image</label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
          id="image_url"
        />
      </div>

      @if(imageUrl){
      <div class="mt-2">
        <img [src]="imageUrl" class="img-thumbnail" style="max-height: 200px" />
      </div>
      }

      <div class="d-flex justify-content-center gap-3">
        <button
          type="button"
          class="btn btn-secondary px-4"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary px-4">Save</button>
      </div>
    </form>
  </div>
</div>
